.rightSideAppBar .spann{
    margin-top: 20px;
}

.tablee {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tdd, .thh {
    border: none;
    text-align: left;
    padding: 8px;
    text-align: center;
}

.trr:nth-child(even) {
    background-color: #50605a;
    opacity: 0.3;
    color: white;
    text-align: center;
}